@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0.7rem;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
.links {
  text-decoration: none;
  color: #fff;
}
.links:hover {
  text-decoration: none;
  color: rgb(133, 9, 190);

}
.links0 {
  text-decoration: none;
  color: rgb(125, 14, 153);
}
.links0:hover {
  text-decoration: none;
  color: rgb(159, 83, 194);

}
.aDaisee{
  margin-top: 20px;
}

.Concentrado0{
  background-color: rgb(141, 231, 160);
}
.Concentrado1{
  background-color: rgb(47, 219, 90);
}
.Aburrido0{
  background-color: rgb(218, 240, 140);
}
.Aburrido1{
  background-color: rgb(219, 208, 47);
}
.Confundido0{
  background-color: rgba(183, 194, 243, 0.3);
}
.Confundido1{
  background-color: #6100d4;
}
.Frustrado0{
  background-color: rgb(233, 126, 126);
}
.Frustrado1{
  background-color: rgb(245, 84, 84);
}
